<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %>
    <%# <%= f.collection_select :category_id, Category.all, :id, :name, {}, {class:"form-control"} %>   
    <%= f.collection_select :category_id, Category.all, :id, :name, {}, {class: "dropdown-trigger btn"} %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>

  <div class="field">
    <%= f.label :minimum_quantity %>
    <%= f.number_field :minimum_quantity %>
  </div>

  <div class="field">
    <%= f.label :measure_unit %>
    <%= f.text_field :measure_unit %>
  </div>

  <div class="actions">
    <%= f.submit "Gravar", :class => "btn btn-primary btn-sm" %>
  </div>
<% end %>
